SENDGRID_API_KEY=sdsdsfsfsdssds
JWT_SECRET_KEY=wrwrefdf322

DBDEV=mongodb://localhost/museek
DBTEST=mongodb+srv://sdswesd:dfdfdf@cluster0-ytf01.mongodb.net/test?retryWrites=true&w=majority
DBCONNECTION=mongodb+srv://wewed:xcxcxc@cluster0-ytf01.mongodb.net/test?retryWrites=true&w=majority